* {
padding:0;
margin:0.5%;
width:auto; 
height:auto;
overflow-x: hidden;
}

.main {
    box-sizing: border-box;
 background: url("C:/Users/Shristy/Desktop/Personal site/Front page.jpg" );
  height: auto;
  width:auto;
  background-repeat: no-repeat;
background-size: cover;
background-position: center center;
scroll-behavior: smooth;
}

ul{
 padding: 5%; 
  margin: 0.5%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  list-style-type: none;
  top: 15%;
}
li {
    list-style-type: none; 
    display: inline;

}
#link1 { 
    margin-right: 97%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
}
#link2 { 
      margin-left: 60%;
}
a:link{ 
    color: white;
    text-decoration: none
    
}
a:visited { 
    color: white;
    text-decoration: none
}
a:hover {
    color: grey;
    transform: scale(1.5);
    text-decoration: none
 
}
a:active {
    color: white;
    text-decoration: none
}

/*
ul{
    padding: 3%; 
     margin: 0.5%;
     list-style-type: none;
     top: 15%;
   }
   li {
       list-style-type: none; 
       display: inline;
   }
   
*/
.image img{
     
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 3.4%; 
}

#image1{
    margin-left: 3%;
} 

.image .text{
    right:70.5%; 
    top: 87%;
    position: absolute;
}
.text:hover  {
    transform: scale(1.1);
    text-decoration: none;
}

.image .text1{
    text-align: center;
    position: absolute;
    left:0; 
    right:5.5%; 
    top: 89%;
}
.text1:hover {
    transform: scale(1.1);
    text-decoration: none;
}   

.image .text2{
    text-align: left;
    position: absolute;
    left:75.5%;  
    top: 89%;
    }
.text2:hover {
        transform: scale(1.1);
        text-decoration: none;
    }

button img { 
    height:120px; 
    width:120px; 
    border: 1px solid #ddd;
    border-radius: 4px;
}


button{ 
    background-color: black;
    color:cornsilk; 
    width: 1200px; 
    text-align: left;
    display: inline-flex;
}

.button1 p { 
    margin-left: 50%; 
}
   

#College:hover { 
    transform: scale(1.1);
    text-decoration: none;    
}




    



/* .con{
   
     margin: 4%;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: right;
  }


  a.connect:link{ 
      color: white;
      text-decoration: none
      
  }
  a.connect:visited { 
      color: white;
      text-decoration: none
  }
  .con:hover {
      color: white;
      transform: scale(1.1);
      text-decoration: none
   
  }
  a.connect:active {
      color: white;
      text-decoration: none
  } */
